/*Style for the Nav*/
.nav-marvel{
  background-color: #212121;
  position: relative;
  min-height: 80px;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 6px 6px -6px #222;
}
.nav-img > img{
  padding: 12px 14px;
  width: 150px;
}

#search{
  margin-top: 10px;
  width: 100%;
  height: 58px;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white url('../img/search.png') right no-repeat;
}
/*End Style*/

.container-fluid{
  background-color: #ececec;

}

/*Style for the details of the characters*/
h3 {
  display: inline-block;
  font-weight: bold;
}
